.gallery {
	padding-top: 20px;
}
.gallery .gallery-top .title {
	float:left;
	margin-bottom: 0px;
	color: #1379df;
	text-align: bottom;
}
.gallery .gallery-top .sub {
	float: right;
	padding-top: 10px;
	margin-bottom: 0px;
	font-size: 13px;
}
.content{
	float:left;
	width: 70%;
}
.login_line {
	border: 1px solid #1379df;
	margin-bottom: 15px;
}
.user_box{

}
.login_box{
	padding: 14px;
}
#login{

	color: rgb(0, 0, 0);
	text-decoration: none;
}
.help{
	background-color: #f3f3f3;
	padding: 14px;
	font-size: 0.8em;
}
.help a{
	color: black;
	font-size: 13px;
	font-weight: bold;
}
.LR_line{
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
.row{
	text-align: center;
}
.right_ad{
	border: none;
	text-align: center;
	margin-bottom: 15px;
}
